/*
body{
    font-family: Arial, sans-serif;
    background-color: rgb(136, 190, 238);
}

h1{
    color: rgb(9, 64, 77);
}

form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(1, 8, 18);
}

#textbox{
    width: 50%;
    text-align: center;
    font-size: medium;
    border: 3px solid;
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: red;
    color: white;
    font-size: 1.6em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: red;
}
*/
/*
body{
    background-image: url(image.jpg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 213, 228);
    backdrop-filter: blur(5px);
}
*/ 
/*
//------stop watch-------//
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}
#myH1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: rgb(24, 24, 21);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}
#display{
    font-size: 3rem;
    font-family: monospace;
    font-weight: bold;
    color:rgb(250, 221, 76);
    text-shadow: 2px 2px 2px hsla(0, 6%, 46%, 0.75);
    margin-bottom: 25px;
}
#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 6x 10px;
    margin: 6px;
    min-width: 125px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(48, 43, 36);
    transition: background-color 0.5s ease;

}
#startBtn{
    background-color: rgb(236, 140, 80);
}
#startBtn:hover{
    background-color: rgb(230, 241, 136);
}
#resetBtn{
    background-color: rgb(236, 140, 80);
}
#resetBtn:hover{
    background-color: rgb(230, 241, 136);
}
#stopBtn{
    background-color: rgb(236, 140, 80);
}
#stopBtn:hover{
    background-color: rgb(230, 241, 136);
}

*/

/* CALCULATOR PROGRAM */

/*
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: rgb(132, 175, 175);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(36, 33, 33);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 8%, 85%);
    
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 48px;
    border: none;
    background-color: rgb(54, 53, 53);
    color: rgb(244, 234, 205);
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0,0%,40%);
}
button:active{
    background-color: hsl(0,0%,50%);
}
.operator-Btn{
    background-color: hsl(35, 150%, 57%);
}
.operator-Btn:hover{
    background-color:(250, 150, 70%);
}
.operator-Btn:active{
    background-color: rgb(244, 157, 43);
} */

/*==================================================================================*/

/* ------ DOM add and change elements ------ */

/*
.box{
    border: 3px solid;
    width: 100%;
    height: 125px;
    text-align: center;
    background-color: antiquewhite;
    font-size: large;
    font-weight: bold;
}

#fruits{
    border: 3px solid;
    font-size: 2rem;
    text-align: center;
    background-color: aquamarine;
}    */

/*===================================================================================*/

/* ------ Mouse Events ------ */
/*
#mybox{
    background-color: rgb(216, 97, 155);
    width: 1900px;
    height: 300px;
    font-weight: bold;
    font-size: 4.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
}*/

/*====================================================================================*/

/*------key event listener------ */

/*
#mybox{
    background-color: rgb(255, 95, 159);
    width: 250px;
    height: 250px;
    font-size: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}  */

/*======================================================================================*/

/*-----click & hide button -----*/
/*
#myButton{
    font-size: 2rem;
}

//========================================================================================*/

/*------ Node List -----*/
/*
.mybutton{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: rgb(58, 166, 228);
    color: rgb(232, 243, 118);
}
*/

/*=========================================================================================*/

#mybutton{
    font-size: 4rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;

}
.enabled{
    background-color: rgb(14, 104, 104);
    color: rgb(128, 198, 198);
}

.hover{
    box-shadow: rgb(16, 14, 14);
    font-weight: bold;
}